$heading-font-family: "Andika", sans-serif 
$body-font-family: "Adelphe", serif


/* Spacing */
$spacing1: 24px !default
$spacing2: 48px !default
$spacing3: 64px !default
$spacing4: 128px !default
$spacing5: 256px !default

/* Grid */
$grid-gutter: 40px
$grid-max-width: 1280px

/*Colors*/
$color-accent: #dabd00
$color-text: #121212
$color-text-alt: #433300
$link-color: #938b00
$color-background-alt: #fff766

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: $color-accent
$footer-background-color: $color-accent

