$heading-font-family: "Publifluor", sans-serif 
$body-font-family: "Adelphe", serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none


/* Spacing */
$spacing1: 24px !default
$spacing2: 48px !default
$spacing3: 64px !default
$spacing4: 128px !default
$spacing5: 256px !default

/* Grid */
$grid-gutter: 40px
$grid-max-width: 1280px

/*Colors*/
$color-accent:rgb(141, 252, 209)
$color-text: #121212
$color-text-alt: #501a38
$link-color: rgb(108, 194, 161)

$color-background-alt: rgb(209, 245, 231)