////// BLOC ACCES DIRECT

.acces-direct
    background: $color-background-alt
    margin-top: 0
    margin-bottom: 0
    padding-top: $grid-gutter
    padding-bottom: $grid-gutter

    .block-links--grid li
        flex-direction: row
        gap: 1rem