////// BLOC ACCES DIRECT

.block-class-acces-direct
    background: $color-background-alt
    margin-bottom: 0
    padding-top: $grid-gutter
    padding-bottom: $grid-gutter

    li
        flex-direction: row
        gap: 1rem

/// forçage du margin top 0 sur block acces direct en page d'accueil
.page__home .document-content > .blocks
    .block:first-child
        margin-top: 0