.page__home .hero
    background: linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)), url('/assets/images/background_home.jpg')
    background-size: cover
    background-position: center
    color: #ffffff
    min-height: 300px

//header logo and text hero white
.page__home header:not(.is-sticky)
    .search-button--primary
        color: #ffffff
    .menu a
        color: #ffffff
    .logo img
        content: url("/assets/images/sec_logo_w.svg")

.logo img
    height: 72px